<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="EquipoEditDlg" widgetVar="EquipoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditEquipoTitle}">
            <h:form id="EquipoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{equipoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditEquipoLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{equipoController.selected.codigo}" title="#{bundle.EditEquipoTitle_codigo}" required="true" requiredMessage="#{bundle.EditEquipoRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.EditEquipoLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{equipoController.selected.descripcion}" title="#{bundle.EditEquipoTitle_descripcion}" required="true" requiredMessage="#{bundle.EditEquipoRequiredMessage_descripcion}"/>
                        <p:outputLabel value="#{bundle.EditEquipoLabel_fkNacionalidad}" for="fkNacionalidad" />
                        <p:selectOneMenu id="fkNacionalidad" value="#{equipoController.selected.fkNacionalidad}" required="true" requiredMessage="#{bundle.EditEquipoRequiredMessage_fkNacionalidad}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{nacionalidadController.itemsAvailableSelectOne}"
                                           var="fkNacionalidadItem"
                                           itemValue="#{fkNacionalidadItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{equipoController.update}" value="#{bundle.Save}" update="display,:EquipoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'EquipoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="EquipoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
