<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="GrupoUsuarioViewDlg" widgetVar="GrupoUsuarioViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewGrupoUsuarioTitle}">
            <h:form id="GrupoUsuarioViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{grupoUsuarioController.selected != null}">
                        <h:outputText value="#{bundle.ViewGrupoUsuarioLabel_codigo}"/>
                        <h:outputText value="#{grupoUsuarioController.selected.codigo}" title="#{bundle.ViewGrupoUsuarioTitle_codigo}"/>
                        <h:outputText value="#{bundle.ViewGrupoUsuarioLabel_descripcion}"/>
                        <h:outputText value="#{grupoUsuarioController.selected.descripcion}" title="#{bundle.ViewGrupoUsuarioTitle_descripcion}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="GrupoUsuarioViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
