<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="Clasificacion"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="Clasificaion">
                <p:panel header="CLasificación">
                     <p:outputLabel value="Piloto" for="fkPiloto" />
                     <p:selectOneMenu id="fkPiloto"  value="#{clasificacionController.pilotoSeleccionado}"
                                         required="true">
                         <f:selectItem itemLabel="Seleccione uno" itemEscaped="true"/>
                                         <f:selectItems value="#{pilotoController.itemsAvailableSelectOne}"
                                           var="fkPilotoItem"
                                           itemValue="#{fkMotocicletaItem}"/>
                        </p:selectOneMenu>
                    <p:outputLabel value="Tiempo:"/>
                    <p:calendar value="#{clasificacionController.tiempo}" pattern="HH:mm:ss" timeOnly="true" maxHour="0"/>
                    <p:commandButton value="Ingrear"  update="@all"
                                     action="#{clasificacionController.adicionarClasificacion()}"/>
                        
                                 
                </p:panel>
                
                <p:panel header="Lista Clasificación">
                    <h:panelGrid columns="2">
                    <p:outputLabel value="Nombre:"/>
                    <p:outputLabel value="#{clasificacionController.nodoMostrar.piloto.nombre}"/>
                    <p:outputLabel value= "Número:"/>
                    <p:outputLabel value="#{clasificacionController.nodoMostrar.piloto.numero}"/>
                    <p:outputLabel value="Equipo"/>
                    <p:outputLabel value="#{clasificacionController.nodoMostrar.piloto.fkEquipo.descripcion}"/>
                    <p:outputLabel value="Tiempo:"/>
                    <p:outputLabel value="#{clasificacionController.nodoMostrar.tiempo}">
                        <f:convertDateTime pattern="HH:mm:ss" timeZone="America/Bogota"/>
                    </p:outputLabel>
                    </h:panelGrid>
                    <p:commandButton value="Primero" action="#{clasificacionController.irAlPrimero()}" update="@all"/>
                    <p:commandButton value="Anterior" action="#{clasificacionController.irAlAnterior()}" update="@all"/>
                    <p:commandButton value="Siguiente" action="#{clasificacionController.irAlSiguiente()}" update="@all"/>
                    <p:commandButton value="Ultimo"/>
                </p:panel>
            </h:form>

           
        </ui:define>
    </ui:composition>

</html>
