<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MarcaEditDlg" widgetVar="MarcaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditMarcaTitle}">
            <h:form id="MarcaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{marcaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditMarcaLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{marcaController.selected.codigo}" title="#{bundle.EditMarcaTitle_codigo}" required="true" requiredMessage="#{bundle.EditMarcaRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.EditMarcaLabel_descripcion}" for="descripcion" />
                        <p:inputText id="descripcion" value="#{marcaController.selected.descripcion}" title="#{bundle.EditMarcaTitle_descripcion}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{marcaController.update}" value="#{bundle.Save}" update="display,:MarcaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'MarcaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MarcaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
