<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="UsuarioCreateDlg" widgetVar="UsuarioCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateUsuarioTitle}">
            <h:form id="UsuarioCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{usuarioController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_codigo}" for="codigo" />
                        <p:inputText id="codigo" value="#{usuarioController.selected.codigo}" title="#{bundle.CreateUsuarioTitle_codigo}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_codigo}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_documetno}" for="documetno" />
                        <p:inputText id="documetno" value="#{usuarioController.selected.documetno}" title="#{bundle.CreateUsuarioTitle_documetno}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_documetno}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_nombreCompleto}" for="nombreCompleto" />
                        <p:inputText id="nombreCompleto" value="#{usuarioController.selected.nombreCompleto}" title="#{bundle.CreateUsuarioTitle_nombreCompleto}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_nombreCompleto}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_correo}" for="correo" />
                        <p:inputText id="correo" value="#{usuarioController.selected.correo}" title="#{bundle.CreateUsuarioTitle_correo}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_correo}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_contraseña}" for="contraseña" />
                        <p:inputText id="contraseña" value="#{usuarioController.selected.contraseña}" title="#{bundle.CreateUsuarioTitle_contraseña}" required="true" requiredMessage="#{bundle.CreateUsuarioRequiredMessage_contraseña}"/>
                        <p:outputLabel value="#{bundle.CreateUsuarioLabel_codigoTipoUsuario}" for="codigoTipoUsuario" />
                        <p:selectOneMenu id="codigoTipoUsuario" value="#{usuarioController.selected.codigoTipoUsuario}" required="true" requiredMessage="#{bundle.EditUsuarioRequiredMessage_codigoTipoUsuario}">
                            <f:selectItems value="#{grupoUsuarioController.itemsAvailableSelectOne}"
                                           var="codigoTipoUsuarioItem"
                                           itemValue="#{codigoTipoUsuarioItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{usuarioController.create}" value="#{bundle.Save}" update="display,:UsuarioListForm:datalist,:growl" oncomplete="handleSubmit(args,'UsuarioCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="UsuarioCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
