<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Index</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        <!--    Hello from Facelets
            <br />
            <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
            <br />
            <h:link outcome="/equipo/List" value="Show All Equipo Items"/>
            <br />
            <h:link outcome="/grupoUsuario/List" value="Show All GrupoUsuario Items"/>
            <br />
            <h:link outcome="/marca/List" value="Show All Marca Items"/>
            <br />
            <h:link outcome="/motocicleta/List" value="Show All Motocicleta Items"/>
            <br />
            <h:link outcome="/nacionalidad/List" value="Show All Nacionalidad Items"/>
            <br />
            <h:link outcome="/piloto/List" value="Show All Piloto Items"/>
            <br />
            <h:link outcome="/usuario/List" value="Show All Usuario Items"/>
            <br/> -->
        
         <div align="center">   <a href="login.xhtml" ><IMG src="11.jpg" WIDTH="350" HEIGHT="210" BORDER="0" ALT="GP"  /></a>
             
         </div>
        
    </h:body>







</html>

